/* make the customizations */
$theme-colors: (
    "danger": #d9e1df,
    "success":#9fd9b3,
    "info": #e2d9db,
    "light": #f2e5f900,
    "dark": #090909,
    "warning": #fcd487,
    "primary": #fe6763,
    "secondary": #ff8a84,
);


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato';
}

.inputfile-2+label {
    color: #9fd9b3;
    border: 2px solid currentColor;
}

.inputfile-2:focus+label,
.inputfile-2.has-focus+label,
.inputfile-2+label:hover {
    color: #9fd9b3;
}


#Menu {
    background-color: rgba(241, 231, 231, 88%);
}

.MenuAll {
    background-color: black;
    color: white;
}

.btnAdd {
    color: white !important;
}

.centerContent {
    text-align: right;
}

.MenuItemAllAlign {
    padding: 10px;
}

.MenuItemAll {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.menuBotton {
    background-color: snow !important;
}

.iconAction {
    font-size: 1.5rem;
}


.MenuItem {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.MenuItem:hover {
    text-decoration: none;
    color: #fe6763;
    font-weight: 700;
}

.MenuItemAlign {
    padding: 10px;
}

#img_home {
    background-image: url("../../public/home.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: 30% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#home-title {
    margin-top: 30%;
    font-size: 4.5rem;
}

.borderline {
    border-bottom: 5px solid rgba(255, 23, 68, 0.71)
}

.labelformme {
    background-color: rgba(217, 217, 217, 0.65);
    border-radius: 10px 10px 0px 0px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    color: darkblue
}

.boton {
    border-radius: '18px';
    color: #FFFFFF;
    font-weight: bold;
    font-size: 19px;
    padding: 15px;
    width: 200px
}




.bg {
    background-image: url(../../public/Changarrito.png);
    background-position: center center;
    background-size: 100%;
}



@import "~bootstrap/scss/bootstrap";